
.footer{
   display: flex; 
}
.footer > .footer-container{
    width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    flex-wrap: wrap;
    gap:1.5rem;
    
    
}

.footer > .footer-container >.box >h3{
    text-align: left;
    color: white;
}


.footer > .footer-container >.box >a{
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem 0;
    text-align: left;
    
    
}
.follow-links{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.follow-links > a{
    width: 3rem;
    height: 3rem;
    background: var(--primary-nav-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.follow-links a:hover{
    background-color: var(--primary-color);
}

.footer > .footer-container >.box >a i{
    color: green;
    padding-right: 0.5rem;
}
.footer > .footer-container >.box > a:hover{
    cursor: pointer;
    color: green;
    i{
        padding-right: 2rem;
    }
}
