
.footer > .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
    
}


.footer > .footer-container >.box >h3{
    text-align: left;
    font-size: 2rem;
    color: white;
}


.footer > .footer-container >.box >a{
    display: flex;
    font-size: 1.4rem;
    color: white;
    padding: 1rem 0;
    
    
}

.footer > .footer-container >.box >a i{
    color: green;
    padding-right: 0.5rem;
}
.footer > .footer-container >.box > a:hover{
    cursor: pointer;
    color: green;
    i{
        padding-right: 2rem;
    }
}
.footer > .credit{
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: white;
    span{
        color: green;
    }
}